:root {
    --blueblack-color: #231A36;
    --white-color: #FFFFFF;
    --darkwhite-color: rgba(255, 255, 255, 0.20);

    ;
}
*,
*::after,
*::before {
    box-sizing: border-box
};

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
.wrapper{
    max-width: 1120px;
    margin: 0 auto;
}


/*bottons*/
.btn {
    border-radius: 26px;
    width: 202px;
    height: 52px;
    display: inline-block;
    color: var(--white-color);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 20px;
    position: relative;
}
.btn.dark{
    background: var(--blueblack-color);
}
.btn.light{
    background: rgba(126, 144, 165, 0.089);
}
.btn.icon::after{
    content: url(arrow-right-2-16px\ 1.svg);
    position:absolute;
    top: 50%;
    right:32px;
    transform: translateY(-50%);
}
.btn.icon{
    padding-right: 60px;
}
/*header*/

header {
    
    background: url(gradient.svg) center/cover; 
    width: 100vw; 
    height: 100vh;
    background-repeat: no-repeat;
    
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1120px;
    top: 36px;
    z-index: 100;
}
 nav .logo{
    color: #FFF;
    font-family: "Lekton",sans-serif;
    font-size: 34px;   
 }
  nav ul{
    display: flex;
    align-items: center;
    gap: 44px;
    list-style: none;
    margin: 0;
  }
  nav ul li a{
    color: #FFF;
    font-family: "Inter",sans-serif;
    font-size: 16px;
    text-decoration: none;
  }
  /*story section*/

  .story-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  /*company logos*/
  .logos{
    display:none
  }

  .story-section .left h1{
    width: 571px;
    color:  #3d1d0f ;
    font-family: "Poppins", sans-serif;
    font-size: 94px;
    
}
.story-section .left p{
    color: #425466;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 30px; 
 }





