:root {
    --blueblack-color: #231A36;
    --white-color: #FFFFFF;
    --darkwhite-color: rgba(255, 255, 255, 0.20);
    --pink-color: #DE2879;
    --bluedarkwhite: #425466;
    --grey: #7B9292;
    ;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}